build
.gradle
.idea

/TODO.txt
/secrets.properties
/kotlin-js-store/yarn.lock

/js-lib/kotlin-kotlin-stdlib-js-ir.js
/js-lib/kotlin-kotlin-stdlib-js-ir.js.map
/js-lib/si-units-kotunil.js
/js-lib/si-units-kotunil.js.map
/js-lib/dist/

/kotunil/js_dist/

/apps/node_ts_app/node_modules/
/apps/node_ts_app/dist/

/apps/web_app_js/node_modules/
/apps/web_app_js/lib/
